In [1]:
import pandas as pd
import glob
import os
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#train file
train_file= pd.read_csv('C:/Users/HOME/dacon/train.csv')
train_file.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [3]:
#test file
test_file= pd.read_csv('C:/Users/HOME/dacon/test.csv')
test_file.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [4]:
#age_gender_info
age_gender_info= pd.read_csv('C:/Users/HOME/dacon/age_gender_info.csv')
age_gender_info.head()

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013

In [5]:
train_file

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [6]:
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [7]:
train_file.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [8]:
subway=train_file[train_file['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]
subway

#subway라는 datafram에다가 지하철 결측치 있는 행들 저장하기

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
94,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
95,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
96,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000,130940,NaN,3.0,527.0,359.0
97,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,A,28687000,149660,NaN,3.0,527.0,359.0
98,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000,69900,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2339,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000,519350,NaN,6.0,1636.0,2315.0
2340,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000,516130,NaN,6.0,1636.0,2315.0
2341,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000,131130,NaN,6.0,1636.0,2315.0
2342,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000,152680,NaN,6.0,1636.0,2315.0
2343,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000,152480,NaN,6.0,1636.0,2315.0

In [9]:
C1312 = train_file['단지코드']=='C1312'
c_C1312 = train_file[C1312]
c_C1312

#C1312의 전체를 뽑아봤더니 지하철 값은 전체가 다 NAN이었음. 따라서 0으로 지하철 값을 채우기로 결정!!!!

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
94,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
95,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000,122210,NaN,3.0,527.0,359.0
96,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000,130940,NaN,3.0,527.0,359.0
97,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,A,28687000,149660,NaN,3.0,527.0,359.0

In [10]:
C1874 = train_file['단지코드']=='C1874'
c_C1874 = train_file[C1874]
c_C1874

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
98,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000,69900,NaN,2.0,97.0,62.0
99,C1874,619,아파트,충청남도,영구임대,26.37,149,2.0,C,3141000,69900,NaN,2.0,97.0,62.0
100,C1874,619,아파트,충청남도,영구임대,31.32,149,2.0,C,3731000,83020,NaN,2.0,97.0,62.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
103,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
105,C1874,619,상가,충청남도,임대상가,23.13,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
106,C1874,619,상가,충청남도,임대상가,23.13,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
107,C1874,619,상가,충청남도,임대상가,23.25,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
108,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
109,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
110,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
111,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
112,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
113,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
114,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
115,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
116,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
117,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
118,C1874,619,상가,충청남도,임대상가,27.75,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
119,C1874,619,상가,충청남도,임대상가,28.19,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
120,C1874,619,상가,충청남도,임대상가,34.80,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
121,C1874,619,상가,충청남도,임대상가,34.80,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
122,C1874,619,상가,충청남도,임대상가,42.35,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
123,C1874,619,상가,충청남도,임대상가,42.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
124,C1874,619,상가,충청남도,임대상가,49.37,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
125,C1874,619,상가,충청남도,임대상가,55.17,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
126,C1874,619,상가,충청남도,임대상가,55.17,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
127,C1874,619,상가,충청남도,임대상가,55.50,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0

### C1312의 전체를 뽑아봤더니 지하철 값은 전체가 다 NAN이었음. 따라서 0으로 지하철 값을 채우기로 결정!!!!

In [11]:
train_file['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].replace(np.nan,0,inplace=True)

In [12]:
train_file.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

### 임대보증금, 임대료 채우기

In [13]:
hipen = train_file['임대보증금']=='-'
hi = train_file[hipen]
hi

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2547,C1326,1934,아파트,부산광역시,국민임대,24.72,472,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,부산광역시,국민임대,24.79,104,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,부산광역시,국민임대,26.83,590,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2680,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,-,-,0.0,3.0,338.0,345.0
2681,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,-,-,0.0,3.0,338.0,345.0
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,-,-,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,-,-,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,-,-,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,-,-,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,-,-,0.0,8.0,664.0,744.0

In [14]:
# '-' 값을 Nan으로 바꿔준다.
train_file['임대보증금'].replace('-',np.nan,inplace=True)

In [15]:
oo = train_file['임대료']=='-'
oo_hi = train_file[oo]
oo_hi

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2043,C1397,370,아파트,서울특별시,장기전세,23.32,51,9.0,A,87444000,-,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,서울특별시,장기전세,46.79,4,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,서울특별시,장기전세,46.91,69,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,서울특별시,장기전세,51.96,24,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000,-,0.0,3.0,1590.0,1595.0
2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000,-,0.0,3.0,673.0,645.0
2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000,-,0.0,3.0,673.0,645.0
2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000,-,0.0,3.0,673.0,645.0
2547,C1326,1934,아파트,부산광역시,국민임대,24.72,472,43.0,H,NaN,-,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,부산광역시,국민임대,24.79,104,43.0,H,NaN,-,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,부산광역시,국민임대,26.83,590,43.0,H,NaN,-,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,NaN,-,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,NaN,-,0.0,4.0,1670.0,1153.0
2680,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,NaN,-,0.0,3.0,338.0,345.0
2681,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,NaN,-,0.0,3.0,338.0,345.0
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,-,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,-,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,-,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,-,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,-,0.0,8.0,664.0,744.0

In [16]:
#임대료를 Nan으로 바꿔준다.
train_file['임대료'].replace('-',np.nan,inplace=True)

In [17]:
train_file.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           581
임대료                             590
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [18]:
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2371 non-null   object
 10  임대료                           2362 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2952 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [19]:
Money=train_file[train_file['임대보증금'].isnull()]
Money

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,0.0,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [20]:
C1925 = train_file['단지코드']=='C1925'
c_C1925 = train_file[C1925]
c_C1925

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
86,C1925,601,아파트,강원도,영구임대,26.37,298,9.0,C,8052000,130850,0.0,4.0,117.0,75.0
87,C1925,601,아파트,강원도,영구임대,31.32,298,9.0,C,9174000,144460,0.0,4.0,117.0,75.0
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0

In [21]:
train_file['임대보증금']=train_file['임대보증금'].astype(float)
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2371 non-null   float64
 10  임대료                           2362 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2952 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 346.1+ KB

In [22]:
train_file['임대료']=train_file['임대료'].astype(float)
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2371 non-null   float64
 10  임대료                           2362 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2952 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 346.1+ KB

### 진행상황 : 임대보증금, 임대료의 '-'값을 Nan값으로 바꿔줌

In [23]:
train_file.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           581
임대료                             590
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [24]:
S=train_file[train_file['임대건물구분'].isnull()]
Money

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,0.0,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [25]:
money=train_file[train_file['임대보증금'].isnull()]
money

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,0.0,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,NaN,NaN,0.0,8.0,664.0,744.0

In [26]:
C1925 = train_file['단지코드']=='C1925'
c_C1925 = train_file[C1925]
c_C1925

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
86,C1925,601,아파트,강원도,영구임대,26.37,298,9.0,C,8052000.0,130850.0,0.0,4.0,117.0,75.0
87,C1925,601,아파트,강원도,영구임대,31.32,298,9.0,C,9174000.0,144460.0,0.0,4.0,117.0,75.0
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0

In [27]:
train_file['임대건물구분'].value_counts()

아파트    2390
상가      562
Name: 임대건물구분, dtype: int64

In [28]:
train_file['공급유형'].value_counts()

국민임대         1758
임대상가          562
행복주택          213
공공임대(10년)     205
영구임대          152
공공임대(50년)      31
공공임대(분납)       12
장기전세            9
공공분양            7
공공임대(5년)        3
Name: 공급유형, dtype: int64

In [29]:
train_file['자격유형'].value_counts()

A    1801
D     569
H     155
J     114
C      95
I      49
E      37
K      33
L      33
N      30
B      21
G       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64

In [30]:
train_file['단지코드'].value_counts()

C1439    48
C2132    47
C1859    40
C1790    33
C2597    32
         ..
C2576     2
C2188     1
C2340     1
C2520     1
C2437     1
Name: 단지코드, Length: 423, dtype: int64

In [31]:
train_file['지역'].value_counts()

경기도        621
경상남도       369
부산광역시      328
대전광역시      266
강원도        187
충청북도       163
충청남도       158
전라남도       151
광주광역시      141
경상북도       119
전라북도       109
대구광역시      102
제주특별자치도     91
서울특별시       64
세종특별자치시     47
울산광역시       36
Name: 지역, dtype: int64

### 단지코드 별로 DataFrame 만들기

In [32]:
C2483 = train_file['단지코드']=='C2483'
c_C2483 = train_file[C2483]
c_C2483

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
5,C2483,900,아파트,경상북도,국민임대,51.95,89,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
6,C2483,900,아파트,경상북도,국민임대,51.95,135,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
7,C2483,900,아파트,경상북도,국민임대,59.88,86,38.0,A,30357000.0,214270.0,0.0,3.0,1425.0,1015.0

### 오류 2번, 3번 단지코드 삭제. C2085 C1397 C2431 C1649 C1036 C1095 C2051 C1218 C1894 C2483 C1502 C1988

In [33]:
#단지코드를 인덱스로 만들어 봅시다.
train_file = train_file.set_index('단지코드')
train_file

,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
단지코드,,,,,,,,,,,,,,
C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,103680.0,0.0,3.0,1425.0,1015.0
C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,184330.0,0.0,3.0,1425.0,1015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [34]:
#오류 단지코드 삭제.
train_file = train_file.drop(['C2085','C1397','C2431','C1649','C1036','C1095','C2051','C1218','C1894','C2483','C1502','C1988'])
train_file

,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
단지코드,,,,,,,,,,,,,,
C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [35]:
train_file.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2869 entries, C2515 to C2532
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   총세대수                          2869 non-null   int64
 1   임대건물구분                        2869 non-null   object
 2   지역                            2869 non-null   object
 3   공급유형                          2869 non-null   object
 4   전용면적                          2869 non-null   float64
 5   전용면적별세대수                      2869 non-null   int64
 6   공가수                           2869 non-null   float64
 7   자격유형                          2869 non-null   object
 8   임대보증금                         2288 non-null   float64
 9   임대료                           2285 non-null   float64
 10  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2869 non-null   float64
 11  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 12  단지내주차면수                       2869 non-null   float64
 13  등록차량수                         2869 non-null   float64
dtypes: float64(8), int64(2), object(4)
memory usage: 336.2+ KB

In [36]:
#단지코드를 다시열로 바꾸기
train_file = train_file.reset_index().rename(columns={'index':'단지코드'})
train_file

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
2,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0
3,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
4,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0
2865,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2866,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2867,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0
2868,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0

In [37]:
train_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2869 non-null   object
 1   총세대수                          2869 non-null   int64
 2   임대건물구분                        2869 non-null   object
 3   지역                            2869 non-null   object
 4   공급유형                          2869 non-null   object
 5   전용면적                          2869 non-null   float64
 6   전용면적별세대수                      2869 non-null   int64
 7   공가수                           2869 non-null   float64
 8   자격유형                          2869 non-null   object
 9   임대보증금                         2288 non-null   float64
 10  임대료                           2285 non-null   float64
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2869 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 13  단지내주차면수                       2869 non-null   float64
 14  등록차량수                         2869 non-null   float64
dtypes: float64(8), int64(2), object(5)
memory usage: 336.3+ KB

In [38]:
train_file.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           581
임대료                             584
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [39]:
train_file['단지코드'].value_counts()

C1439    48
C2132    47
C1859    40
C1790    33
C2597    32
         ..
C1672     2
C2520     1
C2340     1
C2188     1
C2437     1
Name: 단지코드, Length: 411, dtype: int64

### 임대 보증금과 임대료

In [40]:
train_file.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           581
임대료                             584
도보 10분거리 내 지하철역 수(환승노선 수 반영)      0
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [41]:
# #임대료 주변 값으로 채워보도록 하겠다!
# #interpolate(method='linear') : 선형 보간법

# train_file['임대보증금']=train_file['임대보증금'].interpolate(method='linear')

In [42]:
# train_file['임대보증금'].isnull().sum()

In [43]:
# train_file['임대료']=train_file['임대료'].interpolate(method='linear')

In [44]:
# train_file.isnull().sum()

In [45]:
# train_file['임대보증금'].plot(kind='hist')

In [46]:
# train_file['임대료'].plot(kind='hist')

In [47]:
# train_file.corr()

#### 자격유형을 가지고 임대료와 임대보증금을 채워볼까

In [48]:
train_file['자격유형'].value_counts()

A    1729
D     569
H     155
J     103
C      95
I      49
E      37
K      33
L      33
N      30
B      21
G       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64

In [49]:
train_file.sort_values(by='자격유형', inplace=True, kind='quicksort')

In [50]:
#인덱스 초기화
train_file = train_file.reset_index(drop=True)
train_file

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0
1,C2325,378,아파트,전라북도,국민임대,51.91,57,3.0,A,17342000.0,96610.0,0.0,1.0,265.0,293.0
2,C2325,378,아파트,전라북도,국민임대,51.91,27,3.0,A,17342000.0,96610.0,0.0,1.0,265.0,293.0
3,C2394,277,아파트,충청남도,국민임대,39.59,56,20.0,A,13007000.0,111470.0,0.0,2.0,222.0,254.0
4,C2394,277,아파트,충청남도,국민임대,39.63,15,20.0,A,13007000.0,111470.0,0.0,2.0,222.0,254.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,C2446,2200,아파트,경기도,행복주택,26.66,44,32.0,N,39520000.0,164660.0,0.0,5.0,1570.0,1204.0
2865,C2570,450,아파트,전라남도,행복주택,21.43,160,14.0,N,12920000.0,71000.0,0.0,2.0,318.0,205.0
2866,C1659,902,아파트,광주광역시,행복주택,26.54,18,32.0,N,23370000.0,132430.0,0.0,2.0,635.0,416.0
2867,C2570,450,아파트,전라남도,행복주택,26.60,36,14.0,N,15580000.0,85000.0,0.0,2.0,318.0,205.0
2868,C1659,902,아파트,광주광역시,행복주택,44.78,48,32.0,O,41120000.0,233010.0,0.0,2.0,635.0,416.0

In [79]:
train_file.loc[train_file['자격유형'] == 'H']

# #A,B,C,E,F,G,H,I,J,K,L,M,N,O는 Nan값 없음
# D 아예 없음
# K 는 중감중간 없음

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2463,C2361,1174,아파트,경기도,국민임대,39.72,76,9.0,H,23720000.0,197230.0,0.0,4.0,1026.0,1117.0
2464,C2001,540,아파트,경기도,국민임대,26.91,18,10.0,H,9110000.0,122000.0,0.0,8.0,500.0,417.0
2465,C2556,303,아파트,울산광역시,국민임대,36.40,216,21.0,H,7200000.0,119000.0,0.0,2.0,249.0,148.0
2466,C2531,540,아파트,제주특별자치도,국민임대,46.27,96,22.0,H,24948000.0,243000.0,0.0,6.0,397.0,358.0
2467,C2531,540,아파트,제주특별자치도,국민임대,29.26,30,22.0,H,9171000.0,141000.0,0.0,6.0,397.0,358.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,C1677,1144,아파트,경기도,국민임대,46.70,140,9.0,H,36242000.0,301540.0,0.0,4.0,1039.0,1101.0
2614,C2453,659,아파트,경기도,국민임대,26.98,230,7.0,H,18488000.0,170720.0,2.0,3.0,573.0,559.0
2615,C1045,464,아파트,강원도,국민임대,26.44,76,13.0,H,8700000.0,113000.0,0.0,2.0,288.0,266.0
2616,C2453,659,아파트,경기도,국민임대,45.71,130,7.0,H,52237000.0,302930.0,2.0,3.0,573.0,559.0
2617,C2453,659,아파트,경기도,국민임대,37.64,156,7.0,H,35279000.0,239430.0,2.0,3.0,573.0,559.0

In [52]:
k_train = train_file.loc[train_file['자격유형'] == 'K']
k_train

#자격 유형 K만 뽑아낸걸 보기 쉽게 하기 위해서 k_train이라는 dataframe에 따로 저장

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2770,C1156,1004,아파트,충청북도,행복주택,26.49,52,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2771,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2772,C1156,1004,아파트,충청북도,행복주택,36.53,128,47.0,K,91414000.0,47600.0,0.0,3.0,700.0,505.0
2773,C1156,1004,아파트,충청북도,행복주택,36.53,256,47.0,K,91414000.0,47600.0,0.0,3.0,700.0,505.0
2774,C1156,1004,아파트,충청북도,행복주택,26.62,88,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2775,C1156,1004,아파트,충청북도,행복주택,26.51,10,47.0,K,68963000.0,35910.0,0.0,3.0,700.0,505.0
2776,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2777,C1156,1004,아파트,충청북도,행복주택,26.51,58,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2778,C1156,1004,아파트,충청북도,행복주택,16.64,224,47.0,K,42913000.0,22350.0,0.0,3.0,700.0,505.0
2779,C1156,1004,아파트,충청북도,행복주택,16.64,182,47.0,K,42913000.0,22350.0,0.0,3.0,700.0,505.0
2780,C2225,1206,아파트,경상남도,행복주택,16.27,44,49.0,K,32758000.0,17060.0,0.0,3.0,842.0,448.0
2781,C2225,1206,아파트,경상남도,행복주택,36.03,60,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2782,C2245,212,아파트,경상남도,행복주택,16.71,67,22.0,K,34499000.0,17960.0,0.0,1.0,114.0,98.0
2783,C2245,212,아파트,경상남도,행복주택,16.71,5,22.0,K,33216000.0,17300.0,0.0,1.0,114.0,98.0
2784,C2245,212,아파트,경상남도,행복주택,26.95,41,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2785,C2245,212,아파트,경상남도,행복주택,26.95,12,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2786,C2245,212,아파트,경상남도,행복주택,26.95,21,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2787,C2245,212,아파트,경상남도,행복주택,36.99,60,22.0,K,71616000.0,37300.0,0.0,1.0,114.0,98.0
2788,C2245,212,아파트,경상남도,행복주택,36.99,4,22.0,K,71616000.0,37300.0,0.0,1.0,114.0,98.0
2789,C1685,295,아파트,충청북도,행복주택,26.04,49,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2790,C1685,295,아파트,충청북도,행복주택,26.04,38,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2791,C2225,1206,아파트,경상남도,행복주택,36.05,100,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2792,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2793,C2225,1206,아파트,경상남도,행복주택,36.03,290,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2794,C2225,1206,아파트,경상남도,행복주택,26.19,16,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2795,C2225,1206,아파트,경상남도,행복주택,26.17,120,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2796,C2225,1206,아파트,경상남도,행복주택,26.17,110,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2797,C2225,1206,아파트,경상남도,행복주택,16.29,340,49.0,K,33888000.0,17650.0,0.0,3.0,842.0,448.0
2798,C1685,295,아파트,충청북도,행복주택,26.07,98,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2799,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2800,C2225,1206,아파트,경상남도,행복주택,16.02,120,49.0,K,33888000.0,17650.0,0.0,3.0,842.0,448.0
2801,C1685,295,아파트,충청북도,행복주택,26.24,15,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2802,C1685,295,아파트,충청북도,행복주택,26.07,15,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0

In [53]:
k_train.sort_values(by='전용면적', inplace=True, kind='quicksort')
k_train

#전용면적으로 정렬

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2800,C2225,1206,아파트,경상남도,행복주택,16.02,120,49.0,K,33888000.0,17650.0,0.0,3.0,842.0,448.0
2780,C2225,1206,아파트,경상남도,행복주택,16.27,44,49.0,K,32758000.0,17060.0,0.0,3.0,842.0,448.0
2797,C2225,1206,아파트,경상남도,행복주택,16.29,340,49.0,K,33888000.0,17650.0,0.0,3.0,842.0,448.0
2778,C1156,1004,아파트,충청북도,행복주택,16.64,224,47.0,K,42913000.0,22350.0,0.0,3.0,700.0,505.0
2779,C1156,1004,아파트,충청북도,행복주택,16.64,182,47.0,K,42913000.0,22350.0,0.0,3.0,700.0,505.0
2782,C2245,212,아파트,경상남도,행복주택,16.71,67,22.0,K,34499000.0,17960.0,0.0,1.0,114.0,98.0
2783,C2245,212,아파트,경상남도,행복주택,16.71,5,22.0,K,33216000.0,17300.0,0.0,1.0,114.0,98.0
2776,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2790,C1685,295,아파트,충청북도,행복주택,26.04,38,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2789,C1685,295,아파트,충청북도,행복주택,26.04,49,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2802,C1685,295,아파트,충청북도,행복주택,26.07,15,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2798,C1685,295,아파트,충청북도,행복주택,26.07,98,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2796,C2225,1206,아파트,경상남도,행복주택,26.17,110,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2795,C2225,1206,아파트,경상남도,행복주택,26.17,120,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2794,C2225,1206,아파트,경상남도,행복주택,26.19,16,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2801,C1685,295,아파트,충청북도,행복주택,26.24,15,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2770,C1156,1004,아파트,충청북도,행복주택,26.49,52,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2777,C1156,1004,아파트,충청북도,행복주택,26.51,58,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2775,C1156,1004,아파트,충청북도,행복주택,26.51,10,47.0,K,68963000.0,35910.0,0.0,3.0,700.0,505.0
2774,C1156,1004,아파트,충청북도,행복주택,26.62,88,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2792,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2799,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2771,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,NaN,NaN,0.0,3.0,338.0,345.0
2784,C2245,212,아파트,경상남도,행복주택,26.95,41,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2785,C2245,212,아파트,경상남도,행복주택,26.95,12,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2786,C2245,212,아파트,경상남도,행복주택,26.95,21,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2781,C2225,1206,아파트,경상남도,행복주택,36.03,60,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2793,C2225,1206,아파트,경상남도,행복주택,36.03,290,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2791,C2225,1206,아파트,경상남도,행복주택,36.05,100,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2773,C1156,1004,아파트,충청북도,행복주택,36.53,256,47.0,K,91414000.0,47600.0,0.0,3.0,700.0,505.0
2772,C1156,1004,아파트,충청북도,행복주택,36.53,128,47.0,K,91414000.0,47600.0,0.0,3.0,700.0,505.0
2787,C2245,212,아파트,경상남도,행복주택,36.99,60,22.0,K,71616000.0,37300.0,0.0,1.0,114.0,98.0
2788,C2245,212,아파트,경상남도,행복주택,36.99,4,22.0,K,71616000.0,37300.0,0.0,1.0,114.0,98.0

In [80]:
#그냥 일단 앞의 내용으로 채웁시다.
k_train['임대보증금'].fillna(method='pad',inplace=True)
k_train['임대료'].fillna(method='pad',inplace=True)
k_train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2800,C2225,1206,아파트,경상남도,행복주택,16.02,120,49.0,K,33888000.0,17650.0,0.0,3.0,842.0,448.0
2780,C2225,1206,아파트,경상남도,행복주택,16.27,44,49.0,K,32758000.0,17060.0,0.0,3.0,842.0,448.0
2797,C2225,1206,아파트,경상남도,행복주택,16.29,340,49.0,K,33888000.0,17650.0,0.0,3.0,842.0,448.0
2778,C1156,1004,아파트,충청북도,행복주택,16.64,224,47.0,K,42913000.0,22350.0,0.0,3.0,700.0,505.0
2779,C1156,1004,아파트,충청북도,행복주택,16.64,182,47.0,K,42913000.0,22350.0,0.0,3.0,700.0,505.0
2782,C2245,212,아파트,경상남도,행복주택,16.71,67,22.0,K,34499000.0,17960.0,0.0,1.0,114.0,98.0
2783,C2245,212,아파트,경상남도,행복주택,16.71,5,22.0,K,33216000.0,17300.0,0.0,1.0,114.0,98.0
2776,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,33216000.0,17300.0,0.0,3.0,338.0,345.0
2790,C1685,295,아파트,충청북도,행복주택,26.04,38,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2789,C1685,295,아파트,충청북도,행복주택,26.04,49,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2802,C1685,295,아파트,충청북도,행복주택,26.07,15,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2798,C1685,295,아파트,충청북도,행복주택,26.07,98,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2796,C2225,1206,아파트,경상남도,행복주택,26.17,110,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2795,C2225,1206,아파트,경상남도,행복주택,26.17,120,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2794,C2225,1206,아파트,경상남도,행복주택,26.19,16,49.0,K,51961000.0,27060.0,0.0,3.0,842.0,448.0
2801,C1685,295,아파트,충청북도,행복주택,26.24,15,28.0,K,40572000.0,21120.0,0.0,1.0,167.0,164.0
2770,C1156,1004,아파트,충청북도,행복주택,26.49,52,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2777,C1156,1004,아파트,충청북도,행복주택,26.51,58,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2775,C1156,1004,아파트,충청북도,행복주택,26.51,10,47.0,K,68963000.0,35910.0,0.0,3.0,700.0,505.0
2774,C1156,1004,아파트,충청북도,행복주택,26.62,88,47.0,K,67718000.0,35270.0,0.0,3.0,700.0,505.0
2792,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,67718000.0,35270.0,0.0,3.0,338.0,345.0
2799,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,67718000.0,35270.0,0.0,3.0,338.0,345.0
2771,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,67718000.0,35270.0,0.0,3.0,338.0,345.0
2784,C2245,212,아파트,경상남도,행복주택,26.95,41,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2785,C2245,212,아파트,경상남도,행복주택,26.95,12,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2786,C2245,212,아파트,경상남도,행복주택,26.95,21,22.0,K,50657000.0,26380.0,0.0,1.0,114.0,98.0
2781,C2225,1206,아파트,경상남도,행복주택,36.03,60,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2793,C2225,1206,아파트,경상남도,행복주택,36.03,290,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2791,C2225,1206,아파트,경상남도,행복주택,36.05,100,49.0,K,72294000.0,37650.0,0.0,3.0,842.0,448.0
2773,C1156,1004,아파트,충청북도,행복주택,36.53,256,47.0,K,91414000.0,47600.0,0.0,3.0,700.0,505.0
2772,C1156,1004,아파트,충청북도,행복주택,36.53,128,47.0,K,91414000.0,47600.0,0.0,3.0,700.0,505.0
2787,C2245,212,아파트,경상남도,행복주택,36.99,60,22.0,K,71616000.0,37300.0,0.0,1.0,114.0,98.0
2788,C2245,212,아파트,경상남도,행복주택,36.99,4,22.0,K,71616000.0,37300.0,0.0,1.0,114.0,98.0

##### 선형 보간법, 중앙값으로 채워보았지만 0으로 채우는게 제일 이뻤음...

In [54]:
# train_file['임대보증금']=train_file['임대보증금'].fillna(0)
# train_file['임대보증금'].isnull().sum()

In [55]:
# train_file['임대료']=train_file['임대료'].fillna(0)
# train_file['임대료'].isnull().sum()

In [56]:
# train_file.isnull().sum()

In [57]:
# train_file.info()

In [58]:
# train_file.corr()

In [59]:
# #그래프에 한글표시하기
# from matplotlib import font_manager, rc
# import platform

# if platform.system() == 'Windows':
#     path = 'c:/Windows/Fonts/malgun.ttf'
#     font_name = font_manager.FontProperties(fname = path).get_name()
#     rc('font',family=font_name)
# elif platform.system()=='Darwin':
#     rc('font',family='ApplyGothic')
# else:
#     print('Check your OS')

In [60]:
# #히트맵 그려보기
# #그래프 크기 설정
# plt.figure(figsize=(16,10))

# #히트맵 그리기
# sns.heatmap(train_file.corr(), annot=True, cmap='YlGnBu')

# plt.show()

In [61]:
# train_file['임대보증금'].plot(kind='hist')

In [62]:
# train_file['임대료'].plot(kind='hist')

In [63]:
# green_diamond = dict(markerfacecolor='b', marker='D')
# plt.boxplot(train_file['임대보증금'], flierprops = green_diamond)
# plt.title('임대보증금')
# plt.show()

In [64]:
# #이상치 제거
# def removeOutlier(x, column):
#     q1 = x[column].quantile(0.25)
#     q3 = x[column].quantile(0.75)
    
#     IQR = 1.5*(q3-q1)
    
#     #원래 데이터 복제
#     y=x
    
#     y['임대보증금'][(train_file['임대보증금']>(q3+q1)) | (train_file['임대보증금']<(q1-IQR))] = None
#     y['임대보증금']
    
#     return(y)

In [65]:
# removeOutlier(train_file,'임대보증금').boxplot(column='임대보증금')
# plt.xticks(rotation=45)
# plt.show()

In [66]:
# green_diamond = dict(markerfacecolor='b', marker='D')
# plt.boxplot(train_file['임대료'], flierprops = green_diamond)
# plt.title('임대료')
# plt.show()

In [67]:
# #이상치 제거
# def removeOutlier(x, column):
#     q1 = x[column].quantile(0.25)
#     q3 = x[column].quantile(0.75)
    
#     IQR = 1.5*(q3-q1)
    
#     #원래 데이터 복제
#     y=x
    
#     y['임대료'][(train_file['임대료']>(q3+q1)) | (train_file['임대료']<(q1-IQR))] = None
#     y['임대료']
    
#     return(y)

In [68]:
# removeOutlier(train_file,'임대료').boxplot(column='임대료')
# plt.xticks(rotation=45)
# plt.show()

In [69]:
# train_file.isnull().sum()

In [70]:
# train_file.info()

In [71]:
# train_file['임대보증금'].plot(kind='hist')

In [72]:
# train_file['임대료'].plot(kind='hist')